input{
    margin-top: 20px;
    border-radius: 10px;
    border-color: bisque;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}